@font-face {
  font-family: 'GothamPro Medium';
  src: url('@/assets/fonts/gothampro_medium.ttf');
}

@font-face {
  font-family: 'GothamPro';
  src: url('@/assets/fonts/gothampro.ttf');
}

@font-face {
  font-family: 'GothamPro Bold';
  src: url('@/assets/fonts/gothampro_bold.ttf');
}

@font-face {
  font-family: 'GothamPro Light';
  src: url('@/assets/fonts/gothampro_light.ttf');
}

html {
  overflow-y: auto !important;
}

body {
  height: 100dvh;
  font-family: 'GothamPro Medium', sans-serif;
  font-style: normal;
  line-height: normal;
}
